examples/v2/player
examples/v2/list_player
examples/v2/event_handling
examples/v2/media_information
examples/v3/player
examples/v3/list_player
examples/v3/event_handling
examples/v3/media_information
examples/v3/gtk_player
